*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}


.img-float{
  float:right;
  width: 300px;
  height: auto;
}

ul{
  list-style: none !important;
}

#projects{

  margin-top: 40px;
  padding: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 20px;
}

#frontend, #mern, #others{
  text-align: center;
}

#button{
  float: right;
}

#git, #linkedin{
  height: 30px;
  width: auto;
}

#footer{
  color: black;
  background-color: darkgray;
}